@using SchoolTemplate.Database;
@model List<Evenement>
@{
  ViewData["Title"] = "Evenementen";
}

<div class="text-center container">
    <h1>Evenementen</h1>

    <div class="row">
        @foreach (Evenement evenement in Model)
        {
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/img/@evenement.Logo" class="card-img-top"/>

                    <div class="card-body">
                        <h5 class="card-title">@evenement.Naam</h5>
                        <p class="card-text">@evenement.Beschrijving</p>
                        <div class="d-grid gap-2">
                            <a type="button" class="btn btn-outline-info" href="/evenementen/@evenement.Id">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
